@font-face {
 font-family:ScriptinaPro;
 src:local("ScriptinaPro"),url(/static/fonts/ScriptinaPro.woff) format("woff")
}
@font-face {
 font-family:AdamCGPro;
 src:local("ADAM-CGPRO"),url(/static/fonts/ADAM-CGPRO.woff) format("woff")
}
@font-face {
 font-family:AudreyBold;
 src:local("Audrey-Bold"),url(/static/fonts/Audrey-Bold.woff) format("woff")
}
.not-authenticated {
 font-family:AdamCGPro;
 font-size:1.4em;
 margin-top:-37px;
 margin-right:10px
}
nav a {
 color:#000!important
}
nav a:hover {
 cursor:url(/static/calla-30x39.png),auto!important
}
#nav-dropdown:link {
 background-color:#fff
}
.main-menu {
 height:100%;
 width:100%;
 z-index:1;
 background-color:#02181e
}
.main-menu-content {
 position:relative;
 width:100%;
 width:1130px;
 margin-left:auto;
 margin-right:auto
}
.main-menu .closebtn {
 position:absolute;
 top:20px;
 left:1490px;
 font-size:20px;
 background-color:transparent;
 color:#bab6ab;
 border:none;
 font-family:Acme
}
.main-menu-content a {
 color:#bab6ab!important;
 display:block;
 text-decoration:none;
 font-size:26px;
 font-family:AdamCGPro
}
.fashion-container,.homecoll-container,.vintage-container {
 display:inline-block;
 padding:35px;
 position:relative
}
.fashion-container {
 top:-230px
}
.homecoll-container {
 top:-150px
}
.vintage-container {
 top:-213px
}
.fashion-content {
 width:250px
}
.fashion-content,.vintage-content {
 margin-left:auto;
 margin-right:auto
}
.vintage-content {
 width:300px
}
.home-coll-content {
 width:350px;
 margin-left:auto;
 margin-right:auto
}
.fashion-content p,.home-coll-content p,.vintage-content p {
 font-family:AdamCGPro!important
}
#vo-brand {
 color:#ef2929!important;
 font-family:ScriptinaPro;
 font-size:3.9em;
 font-weight:700;
 width:270px;
 margin-top:40px;
 margin-left:610px;
 text-decoration:none
}
#vo-brand,.main-menu-content {
 display:block
}
#fashion-content-title,#homecoll-content-title,#vintage-content-title {
 font-size:36px;
 color:#8e8a8f!important
}
@media only screen and (min-width:992px) {
  .menu-title {
    margin-top:250px
  }
  .main-menu .closebtn {
    top:20px;
    left:1260px;
    font-size:20px;
  }
  #vo-brand {
    margin-left: 530px
  }
}
