@font-face {
 font-family:AdamCGPro;
 src:local("ADAM-CGPRO"),url(/static/fonts/ADAM-CGPRO.woff) format("woff")
}
#header {
  border:0 none;
  background-color:#fff;
  padding-top:35px;
  padding-bottom: 35px;
  width:1400px;
  margin-left:200px
}
#search-bar {
 margin-left:100px;
 width:200px;
 height:22px
}
#search-bar:-ms-input-placeholder {
 color:#000
}
#search-bar::placeholder {
 color:#000
}
#search-bar:focus:-ms-input-placeholder {
 color:#73020c;
 opacity:.5
}
#search-bar:focus::placeholder {
 color:#73020c;
 opacity:.5
}
.form-control {
 border:none;
 box-shadow:none;
 font-size:1.45em;
 font-family:AdamCGPro
}
.form-control:focus {
 border:none;
 box-shadow:none;
 font-size:1.2em
}
@media only screen and (min-width: 992px) {
  #header {
    width:1170px;
  }
}
