.email-sent {
 margin-top:50px!important;
 margin-left:630px;
 width: 640px
}
#email-sent-header {
 font-family:Acme;
 font-size:2.4em;
 color:#000
}
#email-sent-txt1 {
 margin-top:40px
}
#email-sent-txt2 {
 margin-top: 10px
}
#email-sent-txt1,#email-sent-txt2 {
 font-family:Roboto;
 font-size:1.2em
}
#did-not-receive-the-email-link {
 font-family:Roboto;
 font-size:1em;
 margin-top:40px;
}
#did-not-receive-the-email-link a {
  color: #df1331 !important;
}
@media only screen and (min-width: 992px) {
  .email-sent {
    margin-left: 500px;
    margin-top: 10px !important;
  }
} 
