@font-face {
 font-family:AudreyNormal;
 src:local("Audrey-Normal"),
 url(/static/fonts/Audrey-Normal.woff) format("woff")
}
@font-face {
 font-family:AudreyMedium;
 src:local("AudreyMedium"),
 url(/static/fonts/Audrey-Medium.woff) format("woff")
}
@font-face {
 font-family:AudreyBold;
 src:local("AudreyBold"),
 url(/static/fonts/Audrey-Bold.woff) format("woff")
}
.recover-password-email-sent-container .not-found-container {
  margin-top: -70px;
  padding: 100px;
}
.recover-password-email-sent-container .code {
  font-family: AudreyNormal
}
.recover-password-email-sent-container .page-not-found {
  font-family: AudreyMedium;
  font-size: 1.5em
}
.recover-password-email-sent-container .back-to-home-link {
  font-family: AudreyBold;
  font-size: 1.5em;
  width:340px!important;
  margin-top: 40px;
  background-color:#fff;
  border:.15em solid #000!important;
  padding:10px 44px;
  text-align:center;
  display:inline-block;
  cursor:url(/static/calla-30x39.png),auto!important;
  border-radius:0
}
.recover-password-email-sent-container .back-to-home-link a {
  text-decoration:none;
  color:#000!important;
}
.recover-password-email-sent-container .back-to-home-link:hover {
  background-color:#eb3346!important;
}
.recover-password-email-sent-container .back-to-home-link:hover a {
  color:silver!important
}
.recover-password-email-sent-container .email-sent {
 margin-top:40px!important;
 margin-left:330px !important;
 width:640px
}
#email-sent-header {
 font-family:AudreyBold;
 font-size:2.4em;
 color:#000
}
#email-sent-txt1 {
 margin-top:40px
}
#email-sent-txt2 {
 margin-top:10px
}
#email-sent-txt1,
#email-sent-txt2 {
 font-family:Acme;
 font-size:1.3em
}
#did-not-receive-the-email-link {
 font-family:Acme;
 font-size:1.1em;
 margin-top:40px
}
#did-not-receive-the-email-link a {
  color: #df1331 !important;
}
@media only screen and (min-width: 992px) {
  .email-sent {
    margin-left: 500px;
    margin-top: 10px !important;
  }
}
