@font-face {
 font-family:AudreyNormal;
 src:local("Audrey-Normal"),url(/static/fonts/Audrey-Normal.woff) format("woff")
}
@font-face {
 font-family:AdamCGPro;
 src:local("ADAM-CGPRO"),url(/static/fonts/ADAM-CGPRO.woff) format("woff")
}
.recover-password {
 width:580px!important;
 margin-left:630px;
 margin-bottom:100px
}
.recover-password-header {
 background-color:#fff!important;
 border-bottom:none;
 padding-top:30px;
 padding-bottom:20px;
 font-size:2.4em!important;
 font-family:AudreyNormal
}
.recover-password-content {
 font-family:AdamCGPro;
 font-size:1.1em;
}
#sign-in-link {
 width:260px!important;
 margin-top:18px;
 color:#000;
 background-color:#fff;
 padding:10px 44px;
 text-align:center;
 text-decoration:none;
 display:inline-block;
 font-size:1.4em!important;
 font-weight:700!important;
 font-family:AudreyNormal;
 cursor:url(/static/calla-30x39.png),auto!important;
 border-radius:0
}
#sign-in-link:hover {
 background-color:#fff!important;
 color:#eb3346!important
}
.recover-password .form-control {
 margin-top:40px!important;
 width:410px;
 box-sizing:border-box;
 border:.1em solid #000!important;
 padding:7px 4px;
 background-color:inherit;
 font-family:KelsonSansRegular!important
}
.recover-password button {
 width:200px!important;
 background-color:#fff;
 border:.12em solid #000!important;
 color:#000!important;
 padding:10px 44px;
 text-align:center;
 text-decoration:none;
 display:inline-block;
 font-size:1.4em!important;
 font-weight:700!important;
 font-family:AudreyNormal;
 cursor:url(/static/calla-30x39.png),auto!important;
 border-radius:0
}
.recover-password button:hover {
 background-color:#eb3346!important;
 color:silver!important
}
.recover-password button:disabled {
 cursor:url(/static/close-30.png),auto!important
}
@media only screen and (min-width: 992px) {
  .recover-password {
    margin-left: 570px
  }
}
