@font-face {
 font-family:AdamCGPro;
 src:local("ADAM-CGPRO"),url(/static/fonts/ADAM-CGPRO.woff) format("woff")
}
#header .navbar-nav.authenticated a {
 padding:10px;
 color:#000;
 font-family:AdamCGPro;
 font-size: 1.4em
}
.authenticated {
 margin-top:-30px;
 margin-right:30px
}
.authenticated-logo {
  font-family:AdamCGPro;
 font-size:4.4em;
 margin-top:-36px;
 margin-left: 20px;
}
.menu-title {
 transform:rotate(270deg);
 margin-left:-340px;
 margin-top:340px;
 font-size:1.9em;
 font-family:Merienda;
 font-weight:700;
 position:absolute
}
#vo-link {
 color:#000;
 text-decoration:none
}
#vo-link:hover {
 cursor:url(/static/calla-30x39.png),auto!important
}
.main-menu {
 height:100%;
 width:100%;
 position:fixed;
 top:0;
 left:0;
 z-index:1;
 background-color:#02181e
}
.main-menu-content {
 position:relative;
 top:25%;
 width:100%;
 text-align:center;
 margin-top:30px
}
.main-menu .closebtn {
 position:absolute;
 top:20px;
 right:45px;
 font-size:80px;
 background-color:transparent;
 color:#bab6ab;
 border:none
}
.main-menu-content a {
 color:#bab6ab!important;
 display:block;
 text-decoration:none;
 font-size:36px
}
@media only screen and (min-width: 992px) {
  .menu-title {
    margin-top:250px;
  }
}
