@import '../../styles/partials/variables';

#core-layout {
 min-height:100vh;
 display:-ms-flexbox;
 display:flex;
 background-color: #fff
}
#core-layout .s-alert-box {
 z-index:1200!important;
 box-shadow:0 0 1px 1px rgba(42,42,42,.2)
}
#core-layout .s-alert-box .s-alert-close {
 background:hsla(87,11%,84%,.7);
 border-radius:50%
}
#core-layout .s-alert-box .s-alert-box-inner {
 font-weight:bolder
}
#core-layout .s-alert-top {
 margin-left:auto!important;
 margin-right:auto!important
}
#core-layout .s-alert-info {
 border-top:2px solid #5bc0de;
 background:#f4fbfd;
 color:#5bc0de
}
#core-layout .s-alert-info .s-alert-close {
 background:#d6eff7
}
#core-layout .s-alert-success {
 border-top:2px solid #5cb85c;
 background:#dcf0dc;
 color:#5cb85c
}
#core-layout .s-alert-success .s-alert-close {
 background:#c3e5c3
}
#core-layout .s-alert-warning {
 border-top:2px solid #f0ad4e;
 background:#fdf3e4;
 color:#f0ad4e
}
#core-layout .s-alert-warning .s-alert-close {
 background:#fae3c4
}
#core-layout .s-alert-error {
 border-top:2px solid #d9534f;
 background:#fae7e6;
 color:#d9534f
}
#core-layout .s-alert-error .s-alert-close {
 background:#f3cac9
}
