@import '../../../../styles/partials/variables';
@font-face {
 font-family:AudreyBoldOblique;
 src:local("Audrey-BoldOblique"),url(/static/fonts/Audrey-BoldOblique.woff) format("woff")
}
.newin {
 -ms-flex-positive:1;
 flex-grow:1;
 display:-ms-flexbox;
 display:flex;
 border:none;
 overflow:hidden!important;
}
.newin .panel-body {
 height:inherit;
 width:100%;
}
.newin .grid {
  margin-top: 120px;
}
.newin .line-break {
  height: 20px
}
.newin a {
 font-size:1.4em!important;
 text-decoration:none;
 color:#000
}
#new-arrivals-link {
  cursor:url(/static/calla-30x39.png),auto!important;
  font-family: AudreyBoldOblique;
  font-size: 1.4em;
  margin-top: 200px;
  margin-left: 200px
}
