@import '../../../../styles/partials/variables';
@font-face {
 font-family:AudreyBoldOblique;
 src:local("Audrey-BoldOblique"),url(/static/fonts/Audrey-BoldOblique.woff) format("woff")
}
.newin {
 -ms-flex-positive:1;
 flex-grow:1;
 display:-ms-flexbox;
 display:flex;
 border:none;
 overflow:hidden!important;
 margin-top: 100px
}
.newin .new-title {
  font-size: 2em;
  font-family: AudreyMedium;
  border-top: .1em solid #000;
  border-bottom: .1em solid #000;
  border-image: linear-gradient(to right, transparent, #000, transparent);
  border-image-slice: 1;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 105%;
  margin-left: -26px;
  padding-top: 4px
}
.newin .line-break {
  height: 20px
}
