// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #ffd8cc 15%, #fdefc4)
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  scrollbar-color:#f1976f transparent;
  scrollbar-width:thin;
  overflow-x:hidden
}

#root {
  height: 100vh;
}

*:focus {
  outline: none; /* overrides chrome default focus outline */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@import '~bootstrap/scss/bootstrap.scss';
