@font-face {
  font-family: Khebrat_Musamim_Regular;
  src: local("Khebrat_Musamim_Regular"),
  url(../static/fonts/Khebrat_Musamim_Regular.woff) format("woff");
}
$fontKhebratMusamimRegular: Khebrat_Musamim_Regular;
