@import '../../styles/partials/variables';
@font-face {
 font-family:AudreyBoldOblique;
 src:local("Audrey-BoldOblique"),url(/static/fonts/Audrey-BoldOblique.woff) format("woff")
}
.dashboard {
 -ms-flex-positive:1;
 flex-grow:1;
 display:-ms-flexbox;
 display:flex;
 border:none;
 overflow:hidden!important
}
.dashboard .panel-body {
 height:inherit;
 width:100%;
 margin-top:240px;
 margin-left:300px;
 margin-right:100px
}
.dashboard a {
 font-size:1.4em!important;
 text-decoration:none;
 color:#000
}
.grid {
 width:990px!important;
 height:470px!important;
 margin-top:120px!important;
 margin-left:330px
}
#central-container {
 position:relative!important;
 padding:0;
}
#new-arrivals-link {
  cursor:url(/static/calla-30x39.png),auto!important;
  font-family: AudreyBoldOblique;
  font-size: 1.4em;
  margin-top: 200px;
  margin-left: 200px
}
