@font-face {
 font-family:AudreyNormal;
 src:local("Audrey-Normal"),url(/static/fonts/Audrey-Normal.woff) format("woff")
}
@font-face {
 font-family:AdamCGPro;
 src:local("ADAM-CGPRO"),url(/static/fonts/ADAM-CGPRO.woff) format("woff")
}
.password-survey-container {
  width: 800px;
  margin-left:500px;
}
.password-survey-header {
 background-color:#fff!important;
 text-align:left;
 border-bottom:none;
 padding-bottom:40px;
 font-size:1.7em!important;
 font-family:AudreyNormal
}
.password-survey-container input {
  display: block;
  margin-top: 18px
}
.password-survey-container label {
  display: block;
  margin-left: 18px;
  margin-top: -18px;
  font-size: 1.1em;
  font-family: Philosopher
}
#submit-btn {
 width:220px!important;
 margin-left:80px;
 margin-top: 44px;
 background-color:transparent;
 border:.15em solid #000!important;
 color:#000!important;
 padding:10px 44px;
 text-align:center;
 text-decoration:none;
 display:inline-block;
 font-size:1.2em!important;
 font-weight:700!important;
 font-family:AudreyNormal;
 cursor:url(/static/calla-30x39.png),auto!important;
 border-radius:0
}
#submit-btn:hover {
 background-color:#eb3346!important;
 color:silver!important;
 cursor:url(/static/close-30.png),auto!important
}
